@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/*HEADER*/
.header {
    width: 100%;
    height: 768px;
    background: linear-gradient(0deg, #98C3E8 8.84%, rgba(152, 195, 232, 0) 31.12%);
}

.header-nav {
    width: 1200px;
    height: 48px;
    display: flex;
    align-items: center;
    margin-left: 80px;
    margin-top: 40px;
}

.header-block {
    margin: 180px 0px 0px 250px;
}

.header-nav a {
    margin-right: 1180px;
}

.header-block__title {
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 510px;
}

.header-block__title h1 {
    font-size: 64px;
    line-height: 85px;
    letter-spacing: 0.04em;
    color: #1F3F68;
}

.header-block__title p {
    width: 425px;
    height: 82px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    margin: 50px 0px 100px 0px;
}

.header-block__title button {
    width: 220px;
    height: 56px;
    border-radius: 10px;
    background: #5A98D0;
    border: none;
    color: white;
    line-height: 26px;
    letter-spacing: 0.04em;
    text-align: center;
}
.header-block__img img {
    position: absolute;
    width: 670px;
    height: 560px;
    margin: -550px 0px 0px 500px;
}

/*HELP CLIENT*/
.help-client {
    width: 950px;
    height: 1162px;
    margin: 150px 0px 0px 250px;
}

.help-client h2 {
    width: 400px;
    height: 138px;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #316099;
}

.help-client__bring-technology {
    position: absolute;
    margin: -130px 0px 0px 550px;
}

.help-client__your-business {
    margin: 200px 0px 0px 100px;
}

.help-client__digital-product {
    margin: -250px 0px 0px 550px;
}

.help-client__bring-technology,
.help-client__your-business,
.help-client__digital-product {
    width: 380px;
    height: 537px;
    border-radius: 10px;
    box-shadow: 5px 20px 50px 0px #1070B133;
    color: #1F3F68;
}

.bring-technology__img,
.your-business__img,
.digital-product__img {
    margin: -20px 0px 0px 70px;
}

.help-client__content,
.your-business__content,
.digital-product__content {
    width: 280px;
    height: 241px;
    margin: 50px 0px 0px 50px;
}

.help-client__content h3,
.your-business__content h3,
.digital-product__content h3 {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
}

.help-client__content p,
.your-business__content p,
.digital-product__content p {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    margin: 20px 0px 20px 0px;
}

.help-client__button,
.your-business__button,
.digital-product__button {
    display: flex;
    align-items: center;
}

.help-client__button a,
.your-business__button a,
.digital-product__button a {
    text-decoration: none;
    color: #5A98D0;
}

.link {
    margin-right: 25px; 
}

/*FINISED PROJECT*/
.project {
    width: 940px;
    height: 1118px;
    margin: 100px 0px 0px 250px;
    color: #1F3F68;
}

.project-text {
    display: flex;
}

.project-text h2 {
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
}
.project-text p {
    width: 540px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
}

.project-smart {
    color: white;
    margin: 70px 0px 0px 0px;
}

.project-smart__text {
    position: absolute;
    text-align: right;
    margin: 40px 0px 0px 500px;
}

.project-smart__text h3 {
    font-size: 28px;
    line-height: 46px;
    letter-spacing: 0.05em;
}

.project-smart__text P {
    font-size: 16px;
    line-height: 46px;
    letter-spacing: 0.05em;
}

.app {
    display: flex;
    margin: 100px 0px 0px 0px;
    color: white;
}

.app-marketplace img  {
    margin: 0px 100px 0px 0px;
}

.app-marketplace__text,
.app-board__text {
    position: absolute;
    margin: 20px 0px 0px 30px;
}

.app-marketplace__text h3,
.app-board__text h3 {
    font-size: 28px;
    line-height: 46px;
    letter-spacing: 0.05em;
    margin: 0px 0px 20px 0px;
}
/*OUR CLIENT*/
.our-client {
    color: white;
}

.our-client img {
    width: 100%;
    height: 1680px;
    margin: 150px 0px 0px 0px;
}

.our-client__title {
    display: flex;
    position: absolute;
    top: 670%;
    margin: 0px 0px 0px 250px;
}

.our-client__title h3 {
    width: 250px;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    margin-right: 100px;
}

.our-client__title p {
    width: 600px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
}

.client-block {
    position: absolute;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 940px;
    height: 256px;
    top: 710%;
    margin-left: 250px;
}

.client-block p {
    width: 235px;
    height: 128px;
    border: 1px solid white;
    font-size: 20px;
    line-height: 46px;
    letter-spacing: 0.02em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.client-block p {
    border-top-color: #5A98D0;
}

.client-block__5,
.client-block__6,
.client-block__7 {
    border-bottom-color: #5A98D0 !important;
}

.client-block__1,
.client-block__5 {
    border-left-color: #5A98D0 !important;
}

.client-block__4 {
    border-right-color: #5A98D0 !important;
}

.client-block__8 {
    background: #1F3F68;
    border-right-color: #1F3F68;
}

/*FOOTER*/
.footer {
    color: white;
}
.footer-block img {
    position: absolute;
    height: 870px;
    top: 800%;
    border-radius: 0px 200px 0px 0px;
}

.footer-block div {
    position: absolute;
    margin: -750px 0px 0px 250px;
    width: 490px;
    height: 204px;
}

.footer-block h3 {
    width: 350px;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    margin: 0px 0px 30px 0px;
}

.footer-block p {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
}

.footer-block button {
    position: absolute;
    width: 220px;
    height: 56px;
    border-radius: 10px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    background: #5A98D0;
    color: white;
    border: none;
    margin: -150px 0px 0px 650px;
}

.footer-block hr {
    width: 1120px;
    border: 1px solid white;
    margin: 100px 0px 0px -250px;

}

/**/
.footer-contact {
    position: absolute;
    display: flex;
    width: 850px;
    height: 340px;
    margin: -350px 0px 0px 250px; 
}

.footer-contact__connect-us span {
    margin-right: 15px;
    font-weight: bold;
}

.connect-us__a {
    margin-top: 20px;
}

.connect-us__a a {
    display: flex;
    margin: 15px 0px 10px 0px;
    line-height: 26px;
    letter-spacing: 0.05em;
}

.footer-contact__connect-us p {
    opacity: 40%;
    margin: 50px 0px 0px 0px;
}

.footer-contact__connect-us,
.footer-contact__about-us,
.footer-contact__follow-us {
    display: flex;
    flex-direction: column;
}

.footer-contact__connect-us a,
.footer-contact__about-us a,
.footer-contact__follow-us a {
    text-decoration: none;
    color: white;
}

.footer-contact__connect-us img {
    width: 48px;
    height: 48px;
}

.connect-us__logo {
    display: flex;
    align-items: center;
}

.connect-us__logo-blockpage {
    font-size: 28px;
    font-weight: bold;
    margin: 0px 0px 0px 15px;
}

.footer-contact__connect-us {
    width: 300px;
}

.about-us,
.follow-us {
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.05em;
    margin: 0px 0px 50px 0px !important;
}

.footer-contact__about-us {
    position: absolute;
    margin: 0px 0px 0px 400px;
}

.footer-contact__follow-us {
    position: absolute;
    margin: 0px 0px 0px 650px;
}

.footer-contact__about-us a,
.footer-contact__follow-us a {
    margin: 0px 0px 20px 0px;
}

/*MOBILE VERSION*/
@media (max-width: 768px) {
    .header-nav img {
        width: 100px;
        height: 100px;
        margin: 50px 0px 0px 50px;
    }

    .header-nav a {
        margin-right: 850px;
    }

    .header-block {
        margin: 100px 0px 0px 150px;
    }

    .header-block__title p, button {
        font-size: 20px;
    }

    .header-block__title {
        margin: 150px 0px 0px 50px;
    }

    .header-block__img {
        margin: 120px 0px 0px 0px;
    }

    /**/
    .help-client {
        margin: 150px 0px 0px 170px;
    }

    /**/
    .project {
        margin: 150px 0px 0px 170px;
    }

    .our-client {
        display: flex;
        flex-direction: column;
    }

    .our-client img {
        width: 1300px;
        height: auto;
    }

    .footer-block img {
        height: auto;
        margin: 270px 0px 0px 0px;
    }

    .our-client__title,
    .client-block {
        margin: 400px 0px 0px 150px;
    }
}